:root {
  --main-bg-color: #222831;
  --bg-color: #393e46;
  --primary: #00adb5;
  --secondary: #00fff5;
  --white: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main-bg-color);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card, .title, .subtitle, .card-footer-item > span {
  color: var(--white);
}

.card {
  border-radius: 5px;
}

.subtitle {
  color: darkgrey;
}

.textarea {
  background-color: var(--main-bg-color);
  color: var(--white);
}

.textarea::placeholder {
  color: var(--bg-color);
}

.is-link.textarea {
  border-color: var(--secondary);
}

.button.is-link {
  background-color: var(--primary);
}

.button.is-link:hover {
  background-color: var(--primary);
}

a {
  color: var(--secondary)
}

i.fab.fa-twitter-square {
  font-size: 2.5em;
  color: var(--secondary);
}

.card-footer {
  border-top: 1px solid var(--main-bg-color);
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid var(--main-bg-color);
}