.card,
.title,
.subtitle,
.card-footer-item > span {
  color: var(--white);
}

.title {
  font-size: 1em;
}

.subtitle {
  color: darkgrey;
  font-size: 0.7em;
}

.textarea {
  background-color: var(--main-bg-color);
  color: var(--white);
}

.textarea::placeholder {
  color: rgba(var(--white-rgb), 0.4);
}

.is-link.textarea {
  border-color: var(--secondary);
}

.button {
  border: none;
  color: var(--white);
  background: linear-gradient(135deg, var(--primary) 0%, var(--purple) 80%);
}

.button:hover {
  border: none;
  color: var(--white);
  background: linear-gradient(225deg, var(--primary) 0%, var(--purple) 80%);
}

a {
  color: var(--secondary);
}

i.fab.fa-twitter-square {
  font-size: 2.5em;
  color: var(--secondary);
}

.container-tweets {
  width: 95%;
  margin: 0 auto;
  max-width: 550px;
}

.card {
  border-radius: 5px;
}

.card-footer {
  border-top: 1px solid var(--main-bg-color);
  padding: 10px 10px;
  display: flex;
  justify-content: space-around;
}

.card-footer > button {
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
  background-color: transparent;
  border: none;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid var(--main-bg-color);
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}
